@(diary: Form[CreateEntryForm])(implicit request: MessagesRequestHeader)
<h2>Add Entry</h2>
@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Welcome to Play") {
    @form(routes.EntryController.archive()) {
        @inputText(diary("accountId"))
        @inputText(diary("imageUrl"))
        @inputText(diary("title"))
        @inputText(diary("body"))
        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Add Entry"/>
        </div>
    }
}