@(entry: Form[CreateEntryForm])(implicit request: RequestHeader, messagesProvider: MessagesProvider)
<h2>Add Entry</h2>
@import helper._

@main("Welcome to Play") {
    @form(action = routes.EntryController.archive, 'enctype -> "multipart/form-data") {
        @inputFile(entry("img"), 'accept->"image/*")
        @inputText(entry("title"))
        @textarea(entry("body"))
        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Add Entry"/>
        </div>
    }
}