@(entries: Seq[(Long, String)])

@import helper._
@main("Entry List") {

    <div id="title">
        <h1>Entry List</h1>
    </div>

    <div id="link-register">
        <p><a href="@routes.UserController.register()">User Registration</a></p>
    </div>
    <div id="link-login">
        <p><a href="@routes.UserController.login()">Login</a></p>
    </div>
    <div id="link-logout">
        <p><a href="@routes.UserController.logout()">Logout</a></p>
    </div>
    <div id="link-edit">
        <p><a href="@routes.EntryController.edit()">Post Entry</a></p>
    </div>

    <div id="entries">
        <div id="link-entry">
            <ul>
                @for(entry <- entries) {
                        <li><a href="@routes.EntryController.entry(entry._1)">@entry._2</a></li>
                }
            </ul>
        </div>
    </div>
}
