@(user: Form[LoginUserForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
	@request.messages(key)
}
@request.flash.get("error").map { key =>
	@request.messages(key)
}

<h2>Login Form</h2>
@main("Please login") {
  @form(routes.UserController.attempt()) {
      @inputText(user("email"), 'size -> 50)
      @inputPassword(user("password"), 'size -> 20)
      @CSRF.formField

		<div class="buttons">
			<input type="submit" value="Login"/>
		</div>
	}
}
